<div class="container pading">
  <div class="row">
      <div class="col-3 text-center">
        <h3>Filter By</h3>
        <!-- Experience  -->
        <h4>Experience</h4>
        <mat-form-field appearance="fill">
          <mat-label>Experience</mat-label>
          <mat-select [(ngModel)]="experience" (selectionChange)="selectionChange()">
            <mat-option [value]="'Any'" selected>Any</mat-option>
            <mat-option [value]="'Intern'">Intern</mat-option>
            <mat-option [value]="'Junior'">Junior</mat-option>
            <mat-option [value]="'Mid'">Mid</mat-option>
            <mat-option [value]="'Senior'">Senior</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Position -->
        <h4>Position</h4>
        <mat-form-field appearance="fill">
          <mat-label>Position</mat-label>
          <mat-select [(ngModel)]="position" (selectionChange)="selectionChange()">
            <mat-option [value]="'Any'" selected>Any</mat-option>
            <mat-option [value]="'front-end developer'">Front-end developer</mat-option>
            <mat-option [value]="'back-end developer'">Back-end developer</mat-option>
            <mat-option [value]="'full-stack developer'">Full stack developer</mat-option>
            <mat-option [value]="'quality assurance'">Quality assurance</mat-option>
            <mat-option [value]="'project manager'">Project manager</mat-option>
            <mat-option [value]="'business analyst'">Business Analyst</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Salary -->
        <br>
        <mat-label>Minimum Salary</mat-label><br>
        <mat-slider class="text-center" [(ngModel)]="salary" (pointerup)="salaryChange(salary1.value)" #salary1
          thumbLabel
          tickInterval="1000"
          step="100"
          min="0"
          max="10000"
          aria-label="units">
        </mat-slider>
        <!-- Work-hours -->
        <h4>Work-hours</h4>
        <mat-form-field appearance="fill">
          <mat-label>Work-hours</mat-label>
          <mat-select [(ngModel)]="workHours" (selectionChange)="selectionChange()">
            <mat-option [value]="'Any'" selected>Any</mat-option>
            <mat-option [value]="'Part time'">Part-time</mat-option>
            <mat-option [value]="'Full time'">Full-time</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Work-type -->
        <h4>Work-type</h4>
        <mat-form-field appearance="fill">
          <mat-label>Work-type</mat-label>
          <mat-select [(ngModel)]="workType" (selectionChange)="selectionChange()">
            <mat-option [value]="'Any'" selected>Any</mat-option>
            <mat-option [value]="'From office'">Work from office</mat-option>
            <mat-option [value]="'From home'">Work from home</mat-option>
            <mat-option [value]="'Hybrid'">Hybrid</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-1 vl"></div>
      <div class="col-8">
        <h3 class="text-center">Job offers</h3>
        <button mat-stroked-button color="accent" (click)="addJobOffer()" *ngIf="isCompanyUser" style="float: right;">New offer</button><br><br>
        <mat-card *ngFor="let jobOffer of filteredJobOffers" style="margin-bottom: 2%;" class="d-flex clickable">
          <img class="rounded-circle shadow-1-strong me-3" [routerLink]="['/joboffer/', jobOffer.id]"
              style="margin-right: 2%;"
              [src]="createImgPath(jobOffer.company.user.profilePicture)"
              alt="avatar"
              width="65"
              height="65"/>
          <div style="margin: 1% 0%; flex-grow: 1;" [routerLink]="['/joboffer/', jobOffer.id]">
            <mat-card-title>{{jobOffer.experience}} {{jobOffer.position}}</mat-card-title>
            <mat-card-subtitle>Company: {{jobOffer.company.user.fullName}}</mat-card-subtitle>
          </div>
          <div>
              <a *ngIf="jobOffer.companyId == companyId" title="Edit" (click)="editJobOffer(jobOffer.id)"><i class="fas fa-edit"></i> </a>
              <a *ngIf="jobOffer.companyId == companyId" title="Delete" (click)="deleteJobOffer(jobOffer.id)" style="margin-left: 12px;"><i class="fas fa-trash-alt"></i> </a>
          </div>
        </mat-card>
      </div>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = getServerData($event)"
                   aria-label="Select page">
    </mat-paginator>
</div>
