.pading {
  padding-top: 4%;
}

.clickable {
  cursor: pointer;
}

mat-slider {
  width: 80%;
}

.verticalLine {
  border-left: 2px solid gray;
}

mat-paginator {
  background: transparent;
  color: white;
  font-size: 14px;
}

:host::ng-deep mat-paginator .mat-select-min-line, :host::ng-deep mat-paginator .mat-select-arrow {
  color:white;
}
