<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <mat-card class="box" style="margin-top: 15%;">
        <mat-card-header>
          <mat-card-title style="color: gray;">Login</mat-card-title>
        </mat-card-header>
        <hr>
        <form [formGroup]="loginForm" class="form-group" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-form-field class="w-100">
              <input type="email" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <br>
            <mat-form-field class="w-100">
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button color="accent" type="submit" class="btn-block" [disabled]="!loginForm.valid">Sign-in</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>

