<!-- company profile -->
<div class="container" *ngIf="company">
  <div class="row">
    <div class="col-3">
      <mat-card class="box text-center" style="margin-top: 33%;">
        <mat-card-header>
          <img [src]="createImgPath(company.user.profilePicture)" class="rounded-circle shadow-1-strong me-3"
          style="margin-right: 2%;"
          alt="avatar"
          width="150"
          height="150">
        </mat-card-header>
        <mat-card-title class="mt-3">{{company.name}}</mat-card-title>
        <hr>
        <mat-card-subtitle>Email: {{company.user.email}}</mat-card-subtitle>
        <mat-card-content>
          <a href="{{company.webURL}}" target="_blank" class="card-link">Our website</a>
        </mat-card-content>
        <mat-card-content><a href="{{company.user.linkedin}}" class="card-link" target="_blank">Linkedin profile</a></mat-card-content>
      </mat-card>
    </div>
    <div class="col-9">
      <mat-card class="box" style="margin-top: 10%;">
        <mat-card-title>
          About us:
        </mat-card-title>
        <hr>
        <mat-card-content class="mb-5">
          {{company.user.aboutMe}}
        </mat-card-content>
        <mat-card-title>
          Employees:
        </mat-card-title>
        <hr>
        <mat-card-content class="mb-5">
          From {{company.employeesFrom}} to {{company.employeesTo}}
        </mat-card-content>
        <mat-card-title>
          Year founded:
        </mat-card-title>
        <hr>
        <mat-card-content class="mb-5">
          2008
        </mat-card-content>
        <mat-card-title>
          Locations:
        </mat-card-title>
        <hr>
        <mat-card-content>
          {{company.locations}}
        </mat-card-content>
      </mat-card>
      <mat-card class="box mt-3">
        <mat-card-title>
          Contact us:
        </mat-card-title>
        <hr>
        <mat-card-content class="mt-3">
          Street:
        </mat-card-content>
        <mat-card-subtitle>
          {{company.user.address}}
        </mat-card-subtitle>
        <mat-card-content class="mt-3">
          City:
        </mat-card-content>
        <mat-card-subtitle>
          {{company.user.city}}
        </mat-card-subtitle>
        <mat-card-content>
          Number:
        </mat-card-content>
        <mat-card-subtitle>
          {{company.user.phoneNumber}}
        </mat-card-subtitle>
        <mat-card-content>
          Web URL:
        </mat-card-content>
        <mat-card-subtitle>
          <a href="{{company.webURL}}" target="_blank" class="card-link">{{company.webURL}}</a>
        </mat-card-subtitle>
      </mat-card>
      <button mat-stroked-button color="accent" (click)="editCompanyProfile()" class="float-right mt-4 mb-4">Edit profile</button>
    </div>
  </div>
</div>

<!-- user profile -->
<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-3">
      <mat-card class="box text-center" style="margin-top: 33%;">
        <mat-card-header>
          <img [src]="createImgPath(user.profilePicture)" class="rounded-circle shadow-1-strong me-3"
          style="margin-right: 2%;"
          alt="avatar"
          width="150"
          height="150">
        </mat-card-header>
        <mat-card-title class="mt-3">{{user.fullName}}</mat-card-title>
        <hr>
        <mat-card-subtitle class="mt-3">Email: {{user.email}}</mat-card-subtitle>
        <mat-card-subtitle>City: {{user.city}}</mat-card-subtitle>
        <mat-card-subtitle>Date of birth: {{user.dateOfBirth | date:'dd MMM yyyy'}}</mat-card-subtitle>
        <mat-card-content><a href="{{user.linkedin}}" class="card-link" target="_blank">Linkedin profile</a></mat-card-content>
      </mat-card>
    </div>
    <div class="col-9">
      <mat-card class="box" style="margin-top: 10%;">
        <mat-card-title>
          About me:
        </mat-card-title>
        <hr>
        <mat-card-content class="mb-5">
          {{user.aboutMe}}
        </mat-card-content>

        <mat-card-title>
          Education:
        </mat-card-title>
        <hr>
        <mat-card-content class="mb-5">
          From 90 to 100
        </mat-card-content>

        <mat-card-title>
          Home Address:
        </mat-card-title>
        <hr>
        <mat-card-content class="mb-5">
          {{user.address}}
        </mat-card-content>

        <mat-card-title>
          Phone number:
        </mat-card-title>
        <hr>
        <mat-card-content>
          {{user.phoneNumber}}
        </mat-card-content>
      </mat-card>
      <mat-card class="box mt-3">
        <mat-card-title>
          Experience:
        </mat-card-title>
        <hr>
        <ul>
          <li>sadsad sad sad sadsad sad sa dsa</li>
          <li>sadsad sad sad sadsad sad sa dsa</li>
          <li>sadsad sad sad sadsad sad sa dsa</li>
          <li>sadsad sad sad sadsad sad sa dsa</li>
        </ul>
      </mat-card>
      <mat-card class="box mt-3">
        <mat-card-title>
          Projects:
        </mat-card-title>
        <hr>
        <ul>
          <li>sadsad sad sad sadsad sad sa dsa</li>
          <li>sadsad sad sad sadsad sad sa dsa</li>
          <li>sadsad sad sad sadsad sad sa dsa</li>
          <li>sadsad sad sad sadsad sad sa dsa</li>
        </ul>
      </mat-card>
      <button mat-stroked-button color="accent" (click)="editUserProfile()" class="float-right mt-4">Edit profile</button>
    </div>
  </div>
</div>
