<div class="container" style="margin-top:5%">

  <div class="card bg-light mb-3">
    <div class="card-header">{{jobOffer.position}}</div>
    <div class="card-body">
      <h5 class="card-title">{{jobOffer.experience}}</h5>
      <p class="card-text">{{jobOffer.salary}}</p>
      <p class="card-text">{{jobOffer.workHours}}</p>
      <p class="card-text">{{jobOffer.workType}}</p>
      <p class="card-text">{{jobOffer.description}}</p>
    </div>
  </div>

  <!-- <app-job-application-shared-table *ngIf="isCompanyUser && jobOffer.companyId == companyID && jobApplications.length > 0" [jobApplications]="jobApplications" [isCompanyUser]="isCompanyUser"></app-job-application-shared-table> -->
  <app-comment *ngIf="!isCompanyUser && jobApplications.length > 0"></app-comment>
</div>
