<div style="margin-top: 10%;">
  <div class="d-flex justify-content-around">
    <div class="text-center colr">
      <h4>Are you</h4>
      <h1>SEARCHING FOR A JOB?</h1><br>
      <button mat-stroked-button color="accent" (click)="findAJob()">Find a job</button>
      <h4>Are you</h4>
      <h1>OFFERING A JOB?</h1><br>
      <button mat-stroked-button color="accent" (click)="registerForOfferingJob()">Start here</button>
    </div>
    <div>
      <img class="rounded-circle shadow-1-strong"
                  src="assets/imageto.jpg"
                  alt="avatar"
                  height="500"
                  width="700"/>
    </div>
  </div>
</div>
