<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card" style="margin-top: 15%;">
        <div class="card-body">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Register as user">
              <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit('User')">
                <mat-card-content>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Full name" type="text" formControlName="fullName">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Email address" type="email" formControlName="email">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                  </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="accent" type="submit" class="btn-block mt-4" [disabled]="!registerForm.valid">Register</button>
              </form>
            </mat-tab>
            <mat-tab label="Register as company">
              <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit('Company')">
                <mat-card-content>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Company name" type="text" formControlName="fullName">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Email address" type="email" formControlName="email">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Web URL" type="text" formControlName="webURL">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Linkedin" type="text" formControlName="linkedin">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Year Founded" type="text" formControlName="yearFounded">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mt-2 w-100">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                  </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="accent" type="submit" class="btn-block mt-4" [disabled]="!registerForm.valid">Register</button>
              </form>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>

