:host::ng-deep .mat-card-subtitle{
  margin-bottom: 0px !important;
}

.badge {
  padding: 10px;
  font-size: 12px;
  width: 65px;
}

.current-user {
  text-align: end;
  margin-right: 2%;
}

.not-current-user {
  margin-left: 2%;
}
