<div class="container" style="margin-top:5%">

  <!-- job application details -->
  <mat-card class="mb-4 clickable">
    <div class="d-flex">
      <img class="rounded-circle shadow-1-strong me-3"
              style="margin-right: 2%;"
              [src]="createImgPath(jobApplication.user.profilePicture)"
              alt="avatar"
              width="65"
              height="65"/>
      <div style="flex-grow: 1;" class="pt-2">
        <mat-card-title>{{jobApplication.user.fullName}}</mat-card-title>
        <mat-card-subtitle><b>E-mail:</b> {{jobApplication.user.email}}</mat-card-subtitle>
      </div>
      <div>
        <div *ngIf="!isCompanyUser">
          <span *ngIf="jobApplication.status == 0" class="badge badge-pill badge-warning">Pending</span>
          <span *ngIf="jobApplication.status == 1" class="badge badge-pill badge-success">Hired</span>
          <span *ngIf="jobApplication.status == 2" class="badge badge-pill badge-danger">Declined</span>
        </div>
        <!-- if company -->
        <div *ngIf="isCompanyUser">
          <span *ngIf="jobApplication.status == 1" class="badge badge-pill badge-success" [ngbTooltip]="'Hired'">Hired</span>
          <span *ngIf="jobApplication.status == 2" class="badge badge-pill badge-danger" [ngbTooltip]="'Declined'">Declined</span>
        </div>
        <div *ngIf="isCompanyUser && jobApplication.status == 0">
          <button (click)="hiredClick()" style="margin-bottom: 20%;" class="badge badge-pill badge-success">Hire</button><br>
          <button (click)="declinedClick()" class="badge badge-pill badge-danger">Decline</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <mat-card-content><b>From:</b> {{jobApplication.user.city}}</mat-card-content>
      </div>
      <div class="col-6">
        <mat-card-content><b>Date of birth: </b>{{jobApplication.user.dateOfBirth| date:'dd MMM yyyy'}}</mat-card-content>
      </div>
    </div>
    <mat-card-content *ngIf="languages.length > 0"><b>Languages: </b>
      <mat-chip-list
          cdkDropListOrientation="horizontal">
          <mat-chip
            *ngFor="let language of languages">
            {{language}}
          </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-content><b>About this applicant:</b> {{jobApplication.user.aboutMe}}</mat-card-content>
    <div class="w-100 text-right"><hr>
      <app-download [fileUrl]="jobApplication.imgPath" [btnTitle]="'Download CV'"></app-download>
    </div>
  </mat-card>

  <section *ngFor="let comment of comments" class="mb-2">
    <div class="container text-dark">
      <div class="row d-flex justify-content-center">
        <div class="w-100">
          <div class="card">
            <div class="card-body p-4">
              <div class="d-flex w-100"  [ngClass]="{'flex-row-reverse': userEmail == comment.user.email}">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  [src]="createImgPath(comment.user.profilePicture)"
                  alt="avatar"
                  width="65"
                  height="65"/>
                <div class="w-100 d-flex justify-content-between" [ngClass]="{'flex-row-reverse': userEmail == comment.user.email}">
                  <div [ngClass]="{'current-user': userEmail == comment.user.email, 'not-current-user': userEmail != comment.user.email}">
                    <h5 style="font-weight: bolder; font-size: 16px;">{{comment.user.fullName}} </h5>
                    <div class="form-outline" >
                      <p> {{comment.message}} </p>
                    </div>
                  </div>
                  <div>
                    <p> {{comment.dateCreated | date:'dd MMM yyyy hh:mm a'}} </p>
                    <app-download  *ngIf="comment.file" [fileUrl]="comment.file"></app-download>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="mb-4">
    <div class="container text-dark">
      <div class="row d-flex justify-content-center">
        <div class="w-100">
          <div class="card">
            <div class="card-body p-4">
              <div class="d-flex flex-start w-100">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  [src]="createImgPath(user.profilePicture)"
                  style="margin-right: 2%;"
                  alt="avatar"
                  width="65"
                  height="65"/>
                <div class="w-100">
                  <h5>Add a feedback</h5>
                  <div class="form-outline">
                    <form [formGroup]="commentForm">
                      <textarea class="form-control" id="commentMessage" rows="4" formControlName="commentMessage"></textarea>
                    </form>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <app-upload (onUploadFinished)="uploadFinished($event)" [message]="message"></app-upload>
                    <button mat-stroked-button color="warn" (click)="addComment()"> Send <i class="fas fa-long-arrow-alt-right ms-1"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
